#!/bin/bash

set -ex

dd if=/dev/zero of=/tmp/alpine-minirootfs-aarch64.ext4 bs=1M count={{ fs_size_mib }}
mkfs.ext4 /tmp/alpine-minirootfs-aarch64.ext4
mkdir -p /tmp/rootfs
mount -o loop /tmp/alpine-minirootfs-aarch64.ext4 /tmp/rootfs
tar xzf /tmp/alpine-minirootfs-3.14.9-aarch64.tar.gz -C /tmp/rootfs

# NOTE: disable this to remove networking from the image
sed -i "s/SUBNET_IP/$SUBNET_IP/g" /tmp/overlay/etc/network/interfaces
sed -i "s/GW_IP/$GW_IP/g" /tmp/overlay/etc/network/interfaces
sed -i "s/TAP_IP/$TAP_IP/g" /tmp/overlay/etc/network/interfaces
sed -i "s/MASK_LONG/$MASK_LONG/g" /tmp/overlay/etc/network/interfaces

# NOTE: disable this to remove networking from the image
sed -i "s/TAP_IP/$TAP_IP/g" /tmp/overlay/start.sh
sed -i "s/GW_IP/$GW_IP/g" /tmp/overlay/start.sh
sed -i "s/MASK_SHORT/\\$MASK_SHORT/g" /tmp/overlay/start.sh

cp -r /tmp/overlay/* /tmp/rootfs/

cat > /tmp/rootfs/prepare.sh <<EOF
passwd root -d root
apk update
apk add -u openrc ca-certificates haveged openssl udev
exit
EOF
chroot /tmp/rootfs/ /bin/sh /prepare.sh
rm /tmp/rootfs/prepare.sh

umount /tmp/rootfs
rm -rf /tmp/rootfs

mkdir -p /opt/code || :
cp /tmp/alpine-minirootfs-aarch64.ext4 /opt/code
