# # minimal init
# rc-service sysfs start
# rc-service networking start

# # set up network interface
# echo "Setting up network interface"
# ifconfig eth0 up

# echo "Setting up IP address"
# ip addr add $FC_IP$MASK_SHORT dev eth0

# echo "Setting up default gateway"
# ip link set eth0 up

# # run the code in the microvm
# # the firecracker compiler will place the code here
# {{ entrypoint }}

# # shutdown the microvm
# reboot

/bin/ash
