# minimal init
rc-service sysfs start
rc-service networking start

# set up network interface
ifconfig eth0 up && ip addr add dev eth0 HB_START_SH_TAP_IP_MASK_SHORT
ip route add default via HB_START_SH_GATEWAY_IP

# run the code in the microvm
# the firecracker compiler will place the code here
{{ entrypoint }}

# shutdown the microvm
reboot
